<!-- Talks -->

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="talks">
    <div class="my-auto">
        <h2 class="mb-5">Talks</h2>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">"Our Word is Our Weapon": Language, Resistance, and Revolution</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">November 2019</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark"><span class="font-italic">Columbia Natural Language Processing Lab</span></p>
                <p class="mb-1 text-dark">Columbia University, New York, NY, USA</span></p>
                <p class="mb-0"><a
                        href="https://cs.stanford.edu/~jjacobs3/Jacobs-Dissertation_Presentation_2019-11-06.pdf"
                        class="paper-link" title="PDF" target="_blank" rel="noopener noreferrer"><i
                            class="fas fa-file-pdf fa-2x"></i></a></p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Fi Hadal Habs: Text-Analyzing the Underground Communiques of the
                    Palestinian Intifadas</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">October 2018</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark"><span class="font-italic">Critical Media and Digital Studies Workshop</span>
                </p>
                <p class="mb-1 text-dark">Columbia University, New York, NY, USA</span></p>
                <p class="mb-0"><a
                        href="https://cs.stanford.edu/~jjacobs3/Jacobs-Text_Analyzing_the_Intifada_2018-10-16.pdf"
                        class="paper-link" title="PDF" target="_blank" rel="noopener noreferrer"><i
                            class="fas fa-file-pdf fa-2x"></i></a></p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">The Point is to Change It: Theoretical Innovation and Political Practice in
                    the History of Marxism</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">June 2018</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark"><span class="font-italic">2018 Graduate Workshop in Computational Social
                        Science</span></p>
                <p class="mb-1 text-dark">Santa Fe Institute, Santa Fe, NM, USA</span></p>
                <p class="mb-0"><a href="https://cs.stanford.edu/~jjacobs3/Jacobs_SFI_Project_Presentation_Final.pdf"
                        class="paper-link" title="PDF" target="_blank" rel="noopener noreferrer"><i
                            class="fas fa-file-pdf fa-2x"></i></a></p>
            </div>

        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-3 bg-primary-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Automated Content Analysis and the 1789 <i>Cahiers de Doléances</i></h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">June 2018</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark"><span class="font-italic">5th Annual Politics and History Conference</span>
                </p>
                <p class="mb-1 text-dark">University of Barcelona, Barcelona, Spain</span></p>
                <p class="mb-0"><a href="https://cs.stanford.edu/~jjacobs3/Jacobs-Politics_and_History_Presentation.pdf"
                        class="paper-link" title="PDF" target="_blank" rel="noopener noreferrer"><i
                            class="fas fa-file-pdf fa-2x"></i></a></p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column col-md-12 mb-5 bg-primary-opaque">
            <div class="resume-content-header d-flex flex-md-row">
                <h4 class="mb-0 flex-grow-1">Word Embeddings: Can Vectors Encode Meaning?</h4>
                <div class="resume-date text-md-end align-self-center">
                    <span class="text-dark">February 2018</span>
                </div>
            </div>
            <div class="resume-content">
                <p class="mb-0 text-dark">with Katy Gero</p>
                <p class="mb-0 text-dark"><span class="font-italic">NYC Digital Humanities Week</span></p>
                <p class="mb-1 text-dark">Columbia University, New York, NY, USA</span></p>
                <p class="mb-0"><a href="Gero_Jacobs-Word_Embeddings.pdf" class="paper-link" title="PDF" target="_blank"
                        rel="noopener noreferrer"><i class="fas fa-file-pdf fa-2x"></i></a></p>
            </div>
        </div>

    </div>
</section>